---
import { clientGql } from '@graphql-astro/apolloClient';

import '@styles/global.css';
import { CursosDocument, type Curso } from '@graphql-astro/generated/graphql';
import LayoutSeo from '@layouts/LayoutSeo.astro';
import { getCourseJsonLd } from 'src/utils/jsonld';
import Titulo from '@components/atoms/Titulo.astro';
import { Icon } from 'astro-icon/components';

// Obtener el slug de los parámetros de la URL
const { slugCurso } = Astro.params;

// Consultar todos los cursos y filtrar por slug
const { data } = await clientGql.query({
    query: CursosDocument,
    variables: { offset: 0, limit: 1000 }, // Obtener suficientes cursos
});

// Buscar el curso que coincida con el slug
const cursos = data?.Cursos || [];
const curso = cursos.find((c: Curso) => c.slug === slugCurso);

// Si no se encuentra el curso, retornar 404
if (!curso) {
    return Astro.redirect('/404');
}

const {
    courseTitle,
    imagenURL,
    descripcionCorta,
    // duracionHoras,
    // precio,
    _id,
    slug,
} = curso;

const courseJsonLd = getCourseJsonLd(curso);
---

<LayoutSeo
    tituloPagina={courseTitle}
    description={descripcionCorta}
    slug={`cursos/${slug}`}
    image={imagenURL?.url}
    type="article"
    seoJsonLd={courseJsonLd}
>
    <h1></h1>
    <h1
        class="flex flex-col justify-center items-center"
        transition:name=`${courseTitle}-text`
    >
        {courseTitle}
    </h1>

    <div class="flex">
        <Titulo>{courseTitle}</Titulo>
        <button
            id="btn-favorito"
            class="ml-4 animate-pulse cursor-pointer"
            data-id={_id}
            data-coursetitle={courseTitle}
            data-imagenURL={JSON.stringify(imagenURL)}
            data-descripcioncorta={descripcionCorta}
            data-slug={slug}
        >
            <Icon name="heart-line" id={`heart-line-${_id}`} size={50} />
            <Icon
                name="heart-full"
                id={`heart-full-${_id}`}
                class="hidden"
                size={50}
            />
        </button>

        <button onclick="history.back()" class="text-blue-500 cursor-pointer">
            Regresar
        </button>
    </div>

    <div class="flex justify-between m-4">
        <h2>{descripcionCorta}</h2>
        <img
            src={imagenURL?.url}
            alt={imagenURL?.alt}
            transition:name=`${courseTitle}-image`
        />
    </div>
</LayoutSeo>

<script>
    import { FAVORITOS_CURSOS } from '@const/const-string';
    import type { CursoFavorito } from 'src/interfaces/cursoFavorito.interface';

    function handleFavoritos() {
        const btnFavorito = document.getElementById(
            'btn-favorito',
        ) as HTMLButtonElement;
        const _id = btnFavorito?.dataset.id ?? '';
        const courseTitle = btnFavorito?.dataset.coursetitle ?? '';
        const imagenURL = JSON.parse(btnFavorito?.dataset.imagenurl ?? '{}');
        const descripcionCorta = btnFavorito?.dataset.descripcioncorta ?? '';
        const slug = btnFavorito?.dataset.slug ?? '';

        const iconHeartFull = btnFavorito?.querySelector(
            `#heart-full-${_id}`,
        ) as HTMLImageElement;
        const iconHeartLine = btnFavorito?.querySelector(
            `#heart-line-${_id}`,
        ) as HTMLImageElement;

        let favoritosCursos: CursoFavorito[] = JSON.parse(
            localStorage.getItem('favoritosCursos') || '[]',
        );

        function toggleFavorito() {
            const isFavorito = favoritosCursos.some(
                (favorito) => favorito._id == _id,
            );
            if (isFavorito) {
                //'curso ya favorito'
                favoritosCursos = favoritosCursos.filter(
                    (favorito) => favorito._id !== _id,
                );
            } else {
                //'curso no favorito'

                favoritosCursos.push({
                    _id: _id,
                    courseTitle,
                    imagenURL,
                    descripcionCorta,
                    slug,
                });
            }

            localStorage.setItem(
                FAVORITOS_CURSOS,
                JSON.stringify(favoritosCursos),
            );
        }

        function handleheart() {
            const isFavorito = favoritosCursos.some(
                (favorito) => favorito._id == _id,
            );

            if (isFavorito) {
                iconHeartFull?.classList.remove('hidden');
                iconHeartLine?.classList.add('hidden');
            }
        }

        handleheart();

        btnFavorito?.addEventListener('click', () => {
            iconHeartFull?.classList.toggle('hidden');
            iconHeartLine?.classList.toggle('hidden');
            toggleFavorito();
        });
    }

    document.addEventListener('astro:page-load', handleFavoritos);
</script>
