---
/**
 * Definición de las propiedades esperadas para este layout.
 */
import { ClientRouter } from 'astro:transitions';
import '@styles/global.css';
import Seo from '@components/common/Seo.astro';
import Footer from '@components/sections/Footer.astro';
import Navbar from '@components/sections/Navbar';
interface Props {
    tituloPagina: string;
    description?: string;
    slug?: string;
    image?: string;
    type?: string;
    seoJsonLd: object;
}
const {
    tituloPagina,
    description,
    slug,
    image,
    type,
    seoJsonLd: courseJsonLd,
} = Astro.props;
---

<html lang="en">
    <head>
        <ClientRouter />
        <Seo
            titleWeb={tituloPagina}
            descriptionWeb={description}
            slug={slug}
            imageWeb={image}
            typeWeb={type}
            courseJsonLd={courseJsonLd}
        />
        <meta
            name="google-site-verification"
            content="Ev2TdFXtbkht-Jxmbq-7wNtUnlUTWrJgmiPypLEEv1A"
        />
    </head>

    <body class="overflow-y-scroll">
        <div>
            <Navbar client:only="true" />

            <!-- Secciones animadas (revisar si `animate-fade-down` pertenece a una librería como Tailwind) -->
            <slot name="FondoHero" class="animate-fade-down" />
            <slot name="Hero" class="animate-fade-down" />

            <!-- Sección de cursos destacados -->
            <slot name="CursosDestacados" />

            <!-- Espacio para contenido adicional -->
            <slot />

            <Footer />
        </div>
    </body>
</html>

<script>
    // Evento de prueba para detectar navegación (puede eliminarse en producción)
    window.addEventListener('navigate', () => {});
</script>
