---
/**
 * Definición de las propiedades esperadas para este layout.
 */
import { ClientRouter } from 'astro:transitions';
import '@styles/global.css';
import Seo from '@components/common/Seo.astro';
import Footer from '@components/sections/Footer.astro';
import Navbar from '@components/sections/Navbar';
import Modal from '@components/sections/Modal.astro';

interface Props {
    tituloPagina: string;
    description?: string;
    slug?: string;
    image?: string;
    type?: string;
    seoJsonLd: object | null;
}
const {
    tituloPagina,
    description,
    slug,
    image,
    type,
    seoJsonLd: jsonLd,
} = Astro.props;

const currentUrl = Astro.url.pathname;
---

<html lang="en">
    <head>
        <ClientRouter />
        <Seo
            titleWeb={tituloPagina}
            descriptionWeb={description}
            slug={slug}
            imageWeb={image}
            typeWeb={type}
            jsonLd={jsonLd}
        />
        <meta
            name="google-site-verification"
            content="Ev2TdFXtbkht-Jxmbq-7wNtUnlUTWrJgmiPypLEEv1A"
        />
    </head>

    <body class="overflow-y-scroll">
        <Navbar client:only="true" currentUrl={currentUrl} transition:persist />
        <div
            class="bg-white mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8"
        >
            <Modal />
            <!-- Secciones animadas (revisar si `animate-fade-down` pertenece a una librería como Tailwind) -->
            <slot name="FondoHero" class="animate-fade-down" />
            <slot name="Hero" class="animate-fade-down" />

            <!-- Sección de cursos destacados -->
            <slot name="CursosDestacados" />

            <!-- Espacio para contenido adicional -->
            <slot />
        </div>
        <Footer />
    </body>
</html>

<script>
    // Evento de prueba para detectar navegación (puede eliminarse en producción)
    window.addEventListener('navigate', () => {});
</script>
